# Ignore node_modules (for a Node.js project)
node_modules/
node_modules

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build directories
build/

# Ignore system files like .DS_Store (macOS)
.DS_Store

